div > img{
    align-items:center;
}




body{
    background-color: red;
    font-size: 24px;
}

img{
    width: 50%;
}


@media (width<768px) {
    body{
        background-color: green;
        font-size: 18px;
    }
    img{
        width: 70%;
    }
}

@media (width<625px) {
    body{
        background-color: blue;
        font-size: 14px;
    }
    img{
        width: 100%;
    }
}